@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.size {
  display: flex;
  flex-direction: column;
  gap: 70px;
  background-color: #f5f5f7;
}

.middle-menu {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
  letter-spacing: -0.28px;
  list-style-type: none;
}

.frame45 {
  width: 100%;
  height: 121px;
}

.navglobal {
  background-color: #f5f5f7;
  width: 100%;
  height: 48px;
}

.overlay {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f7;
  width: 100%;
  height: 48px;
}

.space-between {
  display: flex;
}

.apple-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonshop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  gap: 5px;
}

.breadtop {
  width: 14px;
  height: 0px;
  border-bottom: 1px solid black;
}

.breadbottom {
  width: 14px;
  height: 0px;
  border-bottom: 1px solid black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 73px;
  background-color: white;
}

.header-text {
  display: flex;
  text-align: center;
  width: 328px;
  height: 37px;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.glowing-color {
  background-image: url(./store/glowing.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 30px;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.find-apple {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: right;
  letter-spacing: -0.016em;
  line-height: 1.4285914286;
}

.store {
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.0834933333;
  max-width: 500px;
  padding-bottom: 6px;
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  color: transparent;
  -webkit-background-clip: text;
  width: fit-content;
}

.gift {
  color: #1d1d1f;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.0834933333;
  max-width: 500px;
  padding-bottom: 6px;
  opacity: 60%;
}

.help-section {
  display: none;
  grid-template-columns: auto auto;
  gap: 20px;
}

.employee {
  width: 35px;
  height: 35px;
}

.help {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-1 {
  width: 175;
  height: 20;
  font-family: "Inter";
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.link-1 {
  width: 175;
  height: 20;
  font-family: "Inter";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.product-lists {
  display: flex;
  gap: 20px;
  padding-top: 16px;
  padding-left: 40px;
  overflow: scroll;
  scrollbar-width: none;
}

.list-card {
  width: 120px;
  height: 78px;
}

.link {
  width: 120px;
  height: 20px;
}

.link-text {
  width: 35;
  height: 16;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.product-sections {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.section-title {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}

.color-text {
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.009em;
  line-height: 1.1666666667;
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  color: transparent;
  -webkit-background-clip: text;
  height: 34px;
  width: 125px;
}

.color-text2 {
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.009em;
  line-height: 1.1666666667;
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  color: transparent;
  -webkit-background-clip: text;
  height: 34px;
  width: 191px;
}

.color-text3 {
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.009em;
  line-height: 1.1666666667;
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  color: transparent;
  -webkit-background-clip: text;
  height: 34px;
  width: 290px;
}

.about {
  color: #1d1d1f;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.009em;
  line-height: 1.1666666667;
  opacity: 60%;
}

.item-detail {
  display: flex;
  width: 1320px;
  gap: 20px;
}

.scroll {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  padding-left: 40px;
  padding-right: 40px;
}

.items {
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 309px;
  height: 450px;
  scroll-snap-align: center;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.items1 {
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 309px;
  height: 450px;
  scroll-snap-align: center;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.items img {
}

.url1 {
  background-image: url(./store/products/product-section-ip16pro.jpg);
}

.url2 {
  background-image: url(./store/products/product-section-watch.jpg);
}

.url3 {
  background-image: url(./store/products/product-section-ipad.jpg);
}

.url4 {
  background-image: url(./store/products/product-section-macbook.jpg);
}

.product-text {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

p {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #b64400;
}

h1 {
  width: 250px;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.2px;
  vertical-align: middle;
  color: #1d1d1f;
}

h2 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #1d1d1f;
  padding-top: 12px;
}

h3 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #1d1d1f;
}

.item-details {
  display: flex;
  width: 2000px;
  gap: 20px;
}

.product-texts {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.product-texts h2 {
  padding-top: 32px;
}

.items-main {
  border-radius: 20px;
  width: 309px;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.photo-size {
  background-repeat: no-repeat;
  background-size: cover;
  width: 230px;
  height: 230px;
}

.product-photo1 {
  background-image: url(./store/products/main-airpodmax.jpg);
}

.product-photo2 {
  background-image: url(./store/products/main-airpodpro2.jpg);
}

.product-photo3 {
  background-image: url(./store/products/main-airpod4.jpg);
}

.product-photo4 {
  background-image: url(./store/products/main-pencil.jpg);
}

.product-photo5 {
  background-image: url(./store/products/main-airpod4.jpg);
}

.urls1 {
  background-image: url(./store/products/main-airpod1.jpg);
}

.urls-color {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.padding-texts {
  padding-top: 75px;
}

.urls-section {
  background-image: url(./store/products/holiday.jpg);
}

.product-photo-section1 {
  background-image: url(./store/products/case.jpg);
}

.product-photo-section12 {
  background-image: url(./store/products/homepod.jpg);
}

.product-photo-section13 {
  background-image: url(./store/products/ipadcase.jpg);
}

.product-photo-section14 {
  background-image: url(./store/products/beats.jpg);
}

.product-photo-section15 {
  background-image: url(./store/products/beats.jpg);
}

.product-photo-section2 {
  background-image: url(./store/products/bag.jpg);
}

.product-photo-section22 {
  background-image: url(./store/products/tradein.jpg);
}

.product-photo-section23 {
  background-image: url(./store/products/black.jpg);
}

.column-bar {
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
  gap: 16px;
  width: 309px;
  height: 450px;
}

.bar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 309px;
  height: 225px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.bar-text {
  width: 238px;
  height: 84px;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
}

.experience-photos1 {
  background-image: url(./store/products/applemusic.jpg);
}

.experience-photos2 {
  background-image: url(./store/products/appletv.png);
}

.experience-photos3 {
  background-image: url(./store/products/appleapps.jpg);
}

.experience-photos4 {
  background-image: url(./store/products/applefeatures.jpg);
}

.saving-photos1 {
  background-image: url(./store/products/saving1.jpg);
}

.saving-photos2 {
  background-image: url(./store/./products/saving2.jpg);
}

.saving-photos3 {
  background-image: url(./store/products/saving3.jpg);
}

.saving-photos4 {
  background-image: url(./store/products/saving4.jpg);
}

.saving-photos5 {
  background-image: url(./store/products/saving5.jpg);
}

.footer {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-left: 40px;
  padding-bottom: 50px;
}

.footer-title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0px;
}

.footer-link {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
}

.link-border {
  display: flex;
  align-items: center;
  width: 110px;
  height: 30px;
  padding: 6px 6px;
  border-radius: 999px;
  border: 1px solid #6e6e73;
  text-align: center;
}

.footer-link--btn {
  width: 85px;
  height: 20px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #6e6e73;
}

@media (min-width: 768px) {
  .main-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-text {
    width: 444px;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
  }

  .list-card {
    width: 158px;
    height: 116px;
  }

  .link {
    width: 158px;
  }

  .item-detail {
    width: 3000px;
  }

  .item-details {
    width: 3000px;
  }

  .items {
    border-radius: 20px;
    width: 500px;
    height: 500px;
  }

  .items-main {
    width: 400px;
    height: 500px;
  }

  .items1 {
    height: 500px;
  }

  .column-bar {
    width: 310px;
    height: 500px;
  }

  .bar-box {
    height: 250px;
  }

  .link-border {
    width: 125px;
    height: 40px;
    padding: 10px 12px;
  }

  .footer-link--btn {
    width: 100px;
    height: 20px;
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .header-text {
    width: 675px;
    height: 20px;
  }

  .middle-menu {
    display: flex;
  }

  .main-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section-title {
    padding-left: 140px;
  }

  .scroll {
    padding-left: 140px;
  }

  .items {
    width: 480px;
    height: 500px;
  }

  .section {
    padding: 0 140px;
  }

  .help-section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .find-apple {
    display: none;
  }

  .product-lists {
    padding-left: 120px;
  }

  .footer {
    padding-left: 140px;
  }
}
