@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.size {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
  gap: 50px;
  background-color: #f5f5f7;
}

.middle-menu {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
  letter-spacing: -0.28px;
  list-style-type: none;
}

.frame45 {
  width: 100%;
  height: 121px;
}

.navglobal {
  background-color: #f5f5f7;
  width: 100%;
  height: 48px;
}

.overlay {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f7;
  width: 100%;
  height: 48px;
}

.space-between {
  display: flex;
}

.apple-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonshop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  gap: 5px;
}

.breadtop {
  width: 14px;
  height: 0px;
  border-bottom: 1px solid black;
}

.breadbottom {
  width: 14px;
  height: 0px;
  border-bottom: 1px solid black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 73px;
  background-color: white;
}

.header-text {
  display: flex;
  text-align: center;
  width: 328px;
  height: 37px;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.glowing-color {
  background-image: url(./store/glowing.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50px;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}

.store {
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.0834933333;
}

.gift {
  color: #1d1d1f;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.007em;
  line-height: 1.1428571429;
  max-width: 317px;
  padding-bottom: 6px;
  opacity: 60%;
}

.shop-help {
  padding-left: 20px;
}

.shop-help a {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.016em;
  line-height: 1.4285914286;
  padding: 24px 0 10px;
  text-decoration: none;
}
