@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.size {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 80px;
  background-color: #f5f5f7;
}

.middle-menu {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
  letter-spacing: -0.28px;
  list-style-type: none;
}

.frame45 {
  width: 100%;
  height: 121px;
}

.navglobal {
  background-color: #f5f5f7;
  width: 100%;
  height: 48px;
}

.overlay {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f7;
  width: 100%;
  height: 48px;
}

.space-between {
  display: flex;
}

.apple-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonshop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  gap: 5px;
}

.breadtop {
  width: 14px;
  height: 0px;
  border-bottom: 1px solid black;
}

.breadbottom {
  width: 14px;
  height: 0px;
  border-bottom: 1px solid black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 73px;
  background-color: white;
}

.header-text {
  display: flex;
  text-align: center;
  width: 328px;
  height: 37px;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.glowing-color {
  background-image: url(./store/glowing.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 30px;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.find-apple {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: right;
  letter-spacing: -0.016em;
  line-height: 1.4285914286;
}

.store {
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.0834933333;
  max-width: 500px;
  padding-bottom: 6px;
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  color: transparent;
  -webkit-background-clip: text;
}

.gift {
  color: #1d1d1f;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.0834933333;
  max-width: 500px;
  padding-bottom: 6px;
  opacity: 60%;
}

.help-section {
  display: none;
  grid-template-columns: auto auto;
  gap: 20px;
}

.employee {
  width: 35px;
  height: 35px;
}

.help {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-1 {
  width: 175;
  height: 20;
  font-family: "Inter";
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.link-1 {
  width: 175;
  height: 20;
  font-family: "Inter";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.product-lists {
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
  padding-top: 16px;
  padding-left: 20px;
  overflow: scroll;
  scrollbar-width: none;
}

.list-card {
  width: 120px;
  height: 78px;
}

.link {
  width: 120px;
  height: 20px;
}

.link-text {
  width: 35;
  height: 16;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

@media (min-width: 768px) {
  .main-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-text {
    width: 444px;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
  }

  .list-card {
    width: 158px;
    height: 116px;
  }

  .link {
    width: 158px;
  }
}

@media (min-width: 1280px) {
  .header-text {
    width: 675px;
    height: 20px;
  }

  .main-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section {
    padding-left: 100px;
    padding-right: 100px;
  }

  .help-section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .find-apple {
    display: none;
  }

  .product-lists {
    padding-left: 120px;
  }
}
