@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.size {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5524px;
  gap: 12px;
}

.frame45 {
  width: 100%;
  height: 121px;
}

.navglobal {
  background-color: #f5f5f7;
  width: 100%;
  height: 48px;
}

.overlay {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f7;
  width: 100%;
  height: 48px;
  opacity: 80%;
}

.space-between {
  display: flex;
}

.apple-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonshop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  gap: 5px;
}

.breadtop {
  width: 14px;
  height: 0px;
  border-bottom: 1px solid black;
}

.breadbottom {
  width: 14px;
  height: 0px;
  border-bottom: 1px solid black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 73px;
}

.header-text {
  display: flex;
  text-align: center;
  width: 328px;
  height: 37px;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1546px;
  border-bottom: 12px;
  gap: 12px;
}

.background {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.url {
  background-image: url(./16promobile.jpg);
}

.frame24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 450px;
  padding-top: 36px;
  gap: 16px;
}

.pos {
  display: flex;
  justify-content: end;
}

.frame24-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 62px;
  gap: 4px;
  color: white;
}

h1 {
  font-family: "inter";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

p {
  font-family: "inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 36px;
  gap: 12px;
}

.learnmore {
  display: flex;
  width: 107px;
  height: 36px;
  padding: 8px 10px;
  gap: 10px;
  border-radius: 999px;
  background-color: #0071e3;
}

.learn-bg {
  background-color: white;
}

.learn {
  width: 600px;
  height: 20px;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.learn-color {
  color: black;
}

.buybutton {
  display: flex;
  width: 66px;
  height: 36px;
  padding: 8px 20px;
  gap: 10px;
  border: 1px solid #2997ff;
  border-radius: 999px;
}

.buy-bg {
  border: 1px solid white;
}

.buy {
  width: 26px;
  height: 20px;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2997ff;
}

.buy-color {
  color: white;
}

.url1 {
  background-image: url(./16mobile.jpg);
}

.url2 {
  background-image: url(./ipadlogo.jpg);
}

.frame24-1 img {
  width: 180px;
  height: 41.86px;
}

.color-text {
  width: 100%;
  padding-top: 260px;
}

.text {
  font-family: "inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  background: linear-gradient(90deg, #0090f7, #ba62fc, #f24168, #f55600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frame27 {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 3833px;
  gap: 12px;
}

.backgrounds {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 390px;
  height: 500px;
}

.urls1 {
  background-image: url(./backgrounds1.jpg);
}

.urls2 {
  background-image: url(./backgrounds2.jpg);
}

.urls3 {
  background-image: url(./backgrounds3.jpg);
}

.urls4 {
  background-image: url(./backgrounds4.jpg);
}

.urls5 {
  background-image: url(./backgrounds5.jpg);
}

.urls6 {
  background-image: url(./backgrounds6.jpg);
}

.wide-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 241px;
  height: 100px;
  gap: 4px;
  color: white;
}

@media screen and (min-width: 768px) {
  .header-text {
    width: 444px;
    height: 16px;
  }
  .url {
    background-image: url(./16protablet.jpg);
  }

  .url1 {
    background-image: url(./16tablet.jpg);
  }

  .frame24 {
    display: flex;
    justify-content: start;
    padding-top: 58px;
  }

  .backgrounds {
    width: 366px;
    height: 490px;
  }

  .frame27 {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
}
