@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.size {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5524px;
  gap: 12px;
}

.frame45 {
  width: 100%;
  height: 121px;
}

.navglobal {
  background-color: #f5f5f7;
  width: 100%;
  height: 48px;
}

.overlay {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f7;
  width: 100%;
  height: 48px;
  opacity: 80%;
}

.space-between {
  display: flex;
}

.apple-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonshop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  gap: 5px;
}

.breadtop {
  width: 14px;
  height: 0px;
  border-bottom: 1px solid black;
}

.breadbottom {
  width: 14px;
  height: 0px;
  border-bottom: 1px solid black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 73px;
}

.header-text {
  display: flex;
  text-align: center;
  width: 328px;
  height: 37px;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1546px;
  border-bottom: 12px;
  gap: 12px;
}

.background {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.url {
  background-image: url(./16promobile.jpg);
}

.frame24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 450px;
  padding-top: 36px;
  gap: 16px;
}

.pos {
  display: flex;
  justify-content: end;
}

.frame24-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 62px;
  gap: 4px;
  color: white;
}

.frame-color {
  color: black;
}

h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "inter";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

p {
  font-family: "inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 36px;
  gap: 12px;
}

.learnmore {
  display: flex;
  width: 115px;
  height: 36px;
  padding: 8px 10px;
  gap: 10px;
  border-radius: 999px;
  background-color: #0071e3;
}

.learn-bg {
  background-color: white;
}

.learn {
  width: 200px;
  height: 20px;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.learn-color {
  color: black;
}

.buybutton {
  display: flex;
  width: 66px;
  height: 36px;
  padding: 8px 20px;
  gap: 10px;
  border: 1px solid #2997ff;
  border-radius: 999px;
}

.buy-bg {
  border: 1px solid white;
}

.buy {
  width: 26px;
  height: 20px;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2997ff;
}

.buy-color {
  color: white;
}

.url1 {
  background-image: url(./16mobile.jpg);
}

.url2 {
  background-image: url(./ipadlogo.jpg);
}

.frame24-1 img {
  width: 180px;
  height: 41.86px;
}

.color-text {
  width: 100%;
  padding-top: 260px;
}

.text {
  font-family: "inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  height: 18px;
  background: linear-gradient(90deg, #0090f7, #ba62fc, #f24168, #f55600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frame27 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.backgrounds {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 390px;
  height: 500px;
}

.urls1 {
  background-image: url(./backgrounds1.jpg);
}

.urls2 {
  background-image: url(./backgrounds2.jpg);
}

.urls3 {
  background-image: url(./backgrounds3.jpg);
}

.urls4 {
  background-image: url(./backgrounds4.png);
}

.urls5 {
  background-image: url(./backgrounds5.jpg);
}

.urls6 {
  background-image: url(./backgrounds6.jpg);
}

.wide-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100px;
  gap: 4px;
  color: white;
}

.wide-color {
  color: black;
}

.logo {
  display: flex;
}

.logosize {
  width: 22px;
  height: 27px;
}

.h2 {
  width: 100%;
  height: 16px;
  font-family: "inter";
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 2px;
  color: black;
}

.text-logo {
  width: 22px;
  height: 27px;
}

.estimate {
  display: flex;
  width: 140px;
  height: 36px;
  padding: 8px 10px;
  gap: 10px;
  border-radius: 999px;
  background-color: #0071e3;
}

.esti {
  width: 200px;
  height: 20px;
  font-family: "inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.list {
  overflow: scroll;
  height: 495px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.frame44 {
  display: flex;
  width: 2300px;
  height: 495px;
  gap: 16px;
}

.tabpanel {
  scroll-snap-align: center;
  border-radius: 10px;
  width: 274px;
  height: 495px;
}

.panel-url1 {
  background-image: url(./movie1.jpg);
}

.panel-url2 {
  background-image: url(./movie2.jpg);
}

.panel-url3 {
  background-image: url(./movie3.jpg);
}

.panel-url4 {
  background-image: url(./movie4.jpg);
}

.panel-url5 {
  background-image: url(./movie5.jpg);
}

.panel-url6 {
  background-image: url(./movie6.jpg);
}

.panel-url7 {
  background-image: url(./movie7.jpg);
}

.panel-url8 {
  background-image: url(./movie8.jpg);
}

.tablist {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  gap: 25px;
  margin-bottom: 10px;
}

.tablist .items {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: black;
  opacity: 42%;
  cursor: pointer;
  transition: 0.3s ease;
}

.tablist .items:hover {
  transform: scale(1.5);
  background-color: black;
  opacity: 80%;
}

.footer-section {
  overflow: hidden;
  height: 216px;
}

.apple-gallery {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
  height: 160px;
  width: 1800px;
  animation: scroll-animation 30s linear infinite;
}

.apple-gallery:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.playbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #d2d2d7;
  border: none;
  border-radius: 12px;
}

.footer-position {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

@keyframes scroll-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-70%);
  }
}

.gallery {
  height: 134px;
  width: 238px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: center;
}

.photos1 {
  background-image: url(./gallery1.png);
}

.photos2 {
  background-image: url(./gallery2.png);
}

.photos3 {
  background-image: url(./gallery3.png);
}

.photos4 {
  background-image: url(./gallery4.png);
}

.photos5 {
  background-image: url(./gallery1.png);
}

.photos6 {
  background-image: url(./gallery2.png);
}

.photos7 {
  background-image: url(./gallery3.png);
}

.photos8 {
  background-image: url(./gallery4.png);
}

@media screen and (min-width: 768px) {
  .size {
    width: 100%;
    height: 4274px;
  }

  .header-text {
    width: 444px;
    height: 16px;
  }

  .text-height {
    height: 170px;
  }

  .url {
    background-image: url(./16protablet.jpg);
  }

  .url1 {
    background-image: url(./16tablet.jpg);
  }

  .frame24 {
    display: flex;
    justify-content: start;
    padding-top: 58px;
  }

  .backgrounds {
    width: 366px;
    height: 490px;
  }

  .frame27 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 1494px;
  }

  .pos {
    display: flex;
    justify-content: end;
  }

  .list {
    height: 398px;
  }

  .frame44 {
    width: 7034px;
    height: 368px;
  }

  .tabpanel {
    width: 689px;
    height: 368px;
  }

  .tablist {
    display: flex;
    gap: 40px;
  }

  .tablist .items {
    width: 12px;
    height: 12px;
    border-radius: 10px;
  }

  .panel-url1 {
    background-image: url(./movies1.jpg);
  }

  .panel-url2 {
    background-image: url(./movies2.jpg);
  }

  .panel-url3 {
    background-image: url(./movies3.jpg);
  }

  .panel-url4 {
    background-image: url(./movies4.jpg);
  }

  .panel-url5 {
    background-image: url(./movies5.jpg);
  }

  .panel-url6 {
    background-image: url(./movies6.jpg);
  }

  .panel-url7 {
    background-image: url(./movies7.jpg);
  }

  .panel-url8 {
    background-image: url(./movies8.jpg);
  }

  .footer-section {
    height: 262px;
  }

  .apple-gallery {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    height: 194px;
    width: 2800px;
  }

  .gallery {
    width: 400px;
    height: 181px;
  }

  .playbutton {
    width: 30px;
    height: 30px;
    background-color: #d2d2d7;
    border: none;
    border-radius: 12px;
  }

  .footer-position {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .url {
    background-image: url(./16prodesktop.jpg);
  }

  .url1 {
    background-image: url(./16desktop.jpg);
  }

  .url2 {
    background-image: url(./magic.jpg);
  }

  .magic::after {
    content: "Gift magic.";
  }

  .magic img {
    display: none;
  }
}
