* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.size {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5524px;
  gap: 12px;
}

.frame45 {
  width: 100%;
  height: 121px;
}

.navglobal {
  background-color: #f5f5f7;
  width: 100%;
  height: 48px;
}

.overlay {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f7;
  width: 100%;
  height: 48px;
  opacity: 80%;
}

.space-between {
  display: flex;
}

.apple-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonshop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.buttonmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  gap: 5px;
}

.breadtop {
  width: 14px;
  height: 0px;
  border-bottom: 1px solid black;
}

.breadbottom {
  width: 14px;
  height: 0px;
  border-bottom: 1px solid black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 73px;
}

.header-text {
  display: flex;
  text-align: center;
  width: 328px;
  height: 37px;
}

.section {
  width: 100%;
  height: 1546px;
  border-bottom: 12px;
}

.background {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.url {
  background-image: url(./16promobile.jpg);
}

.frame24 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 114px;
  gap: 16px;
}

.frame24-1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 62px;
  gap: 4px;
  color: white;
}
